body{
    font-family: 'Oxygen', sans-serif;
    background-color: #e7e7e7;
    font-size: 16px;
}

#main-container{
    position: relative;
    background-color:#34495e;
    height: 280px;
    width: 500px;
    margin-top: 50px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
#start-heading{
    background-color: #e7e7e7;
    position: absolute;
    top: 20px;
    left: 120px;
    padding: 5px;
    width: 250px;
    border-radius: 5px;
}
#time {
    position: absolute;
    color: #e7e7e7;
    top: 85px;
    right: 412px;
}
#countdown-timer {
    position: absolute;
    top: 85px;
    right: 393px;
    color: #e7e7e7;
}
#seconds {
    position: absolute;
    top: 85px;
    right: 383px;
    color: #e7e7e7;
}
#word {
    background-color: #e7e7e7;
    position: absolute;
    top: 125px;
    left: 120px;
    border-radius: 5px;
    padding: 5px;
    width: 250px;
}
#spellCheck {
    width: 400px;
    height: 50px;
    position: absolute;
    top: 185px;
    right: 50px;
    font-size: 20px;
    padding: 5px;
}
#score {
    position: absolute;
    top: 85px;
    left: 370px;
    color: #e7e7e7;
}
#scoreBoard {
    position: absolute;
    top: 85px;
    left: 420px;
    color: #e7e7e7;
}